<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <title>Face Recognition</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{{ url_for('index') }}">

                    <img src="{{url_for('static',filename='images/logo5.png')}}" alt="" width="30" height="30" class="d-inline-block align-top" alt="">
                    Face Recognition
    
                </a>             
                 <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('faceapp') }}">FaceApp</a>
                </li>
                </ul>
             </div>
          </nav>
    </div>

    

        {% block bodyblock %}

        

        {% endblock %}





    <!-- footer -->
    <footer class="footer font-small bg-dark">
       
                  <!-- Copyright -->
  <div class="footer-copyright text-center ">
    <p> <span style="color:white">
        
    Copyright &copy <script>document.write(new Date().getFullYear())</script>:</span>
    <a href="https://github.com/adamdebalke/Face-Recognition-Webapp">Face Recogintion webapp</a></p>
  </div>
  <!-- Copyright -->
        
    </footer>

    <style>
        .footer{
            position: fixed;
            bottom:0;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            background-color: #002f4d;
            padding-top: 40px;
        }
           
     </style>

   
  

</body>
</html>

